openapi: 3.0.3
info:
  title: MyTeacher Mobile API
  version: 1.0.0
  description: |
    MyTeacherモバイルアプリ用バックエンドAPI
    
    ## 認証方式
    AWS Cognito JWT認証を使用します。
    すべてのエンドポイントは以下のヘッダーが必要です：
    ```
    Authorization: Bearer {cognito_jwt_token}
    ```
    
    ## ベースURL
    - 本番環境: `https://my-teacher-app.com/api/v1`
    - ローカル開発: `http://localhost:8080/api/v1`
    
    ## レスポンス形式
    すべてのレスポンスは以下の形式を持ちます：
    
    **成功時**:
    ```json
    {
      "success": true,
      "message": "処理が完了しました",
      "data": { ... }
    }
    ```
    
    **エラー時**:
    ```json
    {
      "success": false,
      "message": "エラーメッセージ",
      "errors": {
        "field_name": ["エラー詳細"]
      }
    }
    ```
    
  contact:
    name: MyTeacher Development Team
    email: famicoapp@gmail.com
  license:
    name: Proprietary
    url: https://my-teacher-app.com/license

servers:
  - url: https://my-teacher-app.com/api/v1
    description: 本番環境
  - url: http://localhost:8080/api/v1
    description: ローカル開発環境

tags:
  - name: Authentication
    description: 認証API（モバイルアプリ用 - Sanctum）
  - name: User
    description: ユーザー情報API（1エンドポイント）
  - name: Tasks
    description: タスク管理API（14エンドポイント）
  - name: Groups
    description: グループ管理API（7エンドポイント）
  - name: Profile
    description: プロフィール管理API（5エンドポイント）
  - name: Tags
    description: タグ管理API（4エンドポイント）
  - name: Avatars
    description: アバター管理API（7エンドポイント）
  - name: Notifications
    description: 通知API（6エンドポイント）
  - name: Tokens
    description: トークン管理API（5エンドポイント）
  - name: Reports
    description: レポート・実績API（5エンドポイント）
  - name: ScheduledTasks
    description: スケジュールタスクAPI（8エンドポイント）
  - name: Subscriptions
    description: サブスクリプション管理API（7エンドポイント）

security:
  - CognitoAuth: []
  - SanctumAuth: []

components:
  securitySchemes:
    CognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AWS Cognito JWTトークン（Web版用）
    SanctumAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: Laravel Sanctumトークン（モバイル版用）

  schemas:
    # ============================================================
    # 共通スキーマ
    # ============================================================
    
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "処理が完了しました"
        data:
          type: object
          additionalProperties: true

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "エラーが発生しました"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 10
        per_page:
          type: integer
          example: 20
        to:
          type: integer
          example: 20
        total:
          type: integer
          example: 200

    # ============================================================
    # Task関連スキーマ
    # ============================================================
    
    Task:
      type: object
      properties:
        id:
          type: integer
          example: 123
        user_id:
          type: integer
          example: 1
        title:
          type: string
          example: "宿題をする"
        description:
          type: string
          nullable: true
          example: "数学の問題集p.20-25"
        due_date:
          type: string
          format: date
          nullable: true
          example: "2025-12-10"
        is_completed:
          type: boolean
          example: false
        priority:
          type: integer
          minimum: 1
          maximum: 5
          example: 3
        group_task_id:
          type: string
          format: uuid
          nullable: true
          example: "550e8400-e29b-41d4-a716-446655440000"
        assigned_by_user_id:
          type: integer
          nullable: true
          example: 2
        requires_approval:
          type: boolean
          example: false
        approval_status:
          type: string
          enum: [pending, approved, rejected]
          nullable: true
          example: "pending"
        approved_by_user_id:
          type: integer
          nullable: true
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        images:
          type: array
          items:
            $ref: '#/components/schemas/TaskImage'
        created_at:
          type: string
          format: date-time
          example: "2025-12-05T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-12-05T15:30:00Z"

    TaskImage:
      type: object
      properties:
        id:
          type: integer
          example: 456
        task_id:
          type: integer
          example: 123
        file_path:
          type: string
          example: "task_approvals/1/abc123.jpg"
        file_url:
          type: string
          format: uri
          example: "https://s3.amazonaws.com/bucket/task_approvals/1/abc123.jpg"
        created_at:
          type: string
          format: date-time

    Tag:
      type: object
      properties:
        id:
          type: integer
          example: 10
        user_id:
          type: integer
          example: 1
        name:
          type: string
          example: "宿題"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#3B82F6"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ============================================================
    # Group関連スキーマ
    # ============================================================

    Group:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: "田中家"
        master_user_id:
          type: integer
          example: 1
          description: グループマスターのUser ID
        subscription_active:
          type: boolean
          example: false
          description: サブスクリプション有効状態
        subscription_plan:
          type: string
          nullable: true
          example: "basic"
          description: サブスクリプションプラン名
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GroupTaskUsage:
      type: object
      description: グループタスク作成状況
      properties:
        current:
          type: integer
          example: 15
          description: 今月の作成数
        limit:
          type: integer
          example: 50
          description: 今月の作成上限
        remaining:
          type: integer
          example: 35
          description: 今月の残り作成可能数
        reset_at:
          type: string
          format: date-time
          example: "2025-01-01T00:00:00Z"
          description: 次回リセット日時

    GroupMember:
      type: object
      properties:
        id:
          type: integer
          example: 20
        username:
          type: string
          example: "tanaka"
        name:
          type: string
          nullable: true
          example: "田中太郎"
        email:
          type: string
          example: "tanaka@example.com"
        theme:
          type: string
          enum: [adult, child]
          example: "adult"
          description: ユーザーテーマ
        group_edit_flg:
          type: boolean
          example: true
          description: グループ編集権限フラグ
        is_master:
          type: boolean
          example: false
          description: グループマスターかどうか

    # ============================================================
    # User関連スキーマ
    # ============================================================

    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "田中太郎"
        email:
          type: string
          format: email
          example: "taro@example.com"
        timezone:
          type: string
          example: "Asia/Tokyo"
        cognito_sub:
          type: string
          example: "abc123-def456-ghi789"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ============================================================
    # Avatar関連スキーマ
    # ============================================================

    TeacherAvatar:
      type: object
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 1
        name:
          type: string
          example: "さくら先生"
        seed:
          type: integer
          example: 123456
        is_active:
          type: boolean
          example: true
        is_transparent:
          type: boolean
          example: false
        images:
          type: array
          items:
            $ref: '#/components/schemas/AvatarImage'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AvatarImage:
      type: object
      properties:
        id:
          type: integer
          example: 10
        teacher_avatar_id:
          type: integer
          example: 1
        pose_type:
          type: string
          enum: [full, bust]
          example: "bust"
        expression:
          type: string
          enum: [smile, normal, angry, sad]
          example: "smile"
        file_path:
          type: string
          example: "avatars/1/smile_bust_123456.png"
        file_url:
          type: string
          format: uri
          example: "https://s3.amazonaws.com/bucket/avatars/1/smile_bust_123456.png"
        created_at:
          type: string
          format: date-time

    AvatarComment:
      type: object
      properties:
        event:
          type: string
          enum: [task_created, task_completed, task_failed, login, achievement]
          example: "task_completed"
        comment:
          type: string
          example: "よくできました！"
        image_url:
          type: string
          format: uri
          example: "https://s3.amazonaws.com/bucket/avatars/1/smile_bust_123456.png"

    # ============================================================
    # Notification関連スキーマ
    # ============================================================

    Notification:
      type: object
      properties:
        id:
          type: integer
          example: 100
        user_id:
          type: integer
          example: 1
        template_key:
          type: string
          example: "task_assigned"
        title:
          type: string
          example: "新しいタスクが割り当てられました"
        body:
          type: string
          example: "「宿題をする」が割り当てられました"
        data:
          type: object
          additionalProperties: true
          example:
            task_id: 123
            assigned_by: "田中花子"
        read_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ============================================================
    # Token関連スキーマ
    # ============================================================

    TokenBalance:
      type: object
      properties:
        user_id:
          type: integer
          example: 1
        balance:
          type: integer
          example: 500000
        last_free_reset:
          type: string
          format: date
          example: "2025-12-01"
        token_mode:
          type: string
          enum: [personal, group]
          example: "personal"
        updated_at:
          type: string
          format: date-time

    TokenTransaction:
      type: object
      properties:
        id:
          type: integer
          example: 200
        user_id:
          type: integer
          example: 1
        amount:
          type: integer
          example: -1000
        balance_after:
          type: integer
          example: 499000
        type:
          type: string
          enum: [consume, purchase, grant, free_reset, admin_adjust, ai_usage, refund]
          example: "ai_usage"
        description:
          type: string
          example: "AI機能: タスク分解"
        created_at:
          type: string
          format: date-time

    TokenPackage:
      type: object
      properties:
        id:
          type: string
          example: "prod_ABC123"
        name:
          type: string
          example: "500万トークンパック"
        tokens:
          type: integer
          example: 5000000
        price:
          type: integer
          example: 500
        currency:
          type: string
          example: "jpy"
        stripe_price_id:
          type: string
          example: "price_XYZ789"

    # ============================================================
    # Approval関連スキーマ（承認待ち一覧統合API用）
    # ============================================================

    TaskApprovalItem:
      type: object
      description: タスク承認待ちアイテム
      required:
        - id
        - type
        - title
        - requester_name
        - requester_id
        - requested_at
        - model
      properties:
        id:
          type: integer
          description: 承認アイテムID（タスクID）
          example: 1
        type:
          type: string
          enum: [task]
          description: アイテム種別（固定値: task）
          example: task
        title:
          type: string
          description: タスクタイトル
          example: "部屋の掃除"
        requester_name:
          type: string
          description: 申請者名
          example: "太郎"
        requester_id:
          type: integer
          description: 申請者のユーザーID
          example: 10
        requested_at:
          type: string
          format: date-time
          description: 申請日時（タスク完了日時）
          example: "2025-12-09T10:00:00Z"
        description:
          type: string
          nullable: true
          description: タスクの説明
          example: "リビングと自分の部屋を掃除する"
        reward:
          type: integer
          nullable: true
          description: 報酬（トークン）
          example: 1000
        has_images:
          type: boolean
          description: 添付画像の有無
          example: true
        images_count:
          type: integer
          description: 添付画像の枚数
          example: 2
        due_date:
          type: string
          format: date-time
          nullable: true
          description: 期限
          example: "2025-12-10T23:59:59Z"
        tags:
          type: array
          description: タグ一覧
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
          example:
            - id: 1
              name: "家事"
            - id: 2
              name: "緊急"
        model:
          type: object
          description: 元のタスクオブジェクト（フル情報）
          properties:
            id:
              type: integer
              example: 123
            title:
              type: string
              example: "部屋の掃除"
            description:
              type: string
              nullable: true
              example: "リビングと自分の部屋を掃除する"
            reward:
              type: integer
              nullable: true
              example: 1000
            completed_at:
              type: string
              format: date-time
              nullable: true
            user_id:
              type: integer
            assigned_by_user_id:
              type: integer
            requires_approval:
              type: boolean
            approval_status:
              type: string
              enum: [pending, approved, rejected]

    TokenApprovalItem:
      type: object
      description: トークン購入申請承認待ちアイテム
      required:
        - id
        - type
        - package_name
        - requester_name
        - requester_id
        - requested_at
        - token_amount
        - price
        - model
      properties:
        id:
          type: integer
          description: 承認アイテムID（購入リクエストID）
          example: 2
        type:
          type: string
          enum: [token]
          description: アイテム種別（固定値: token）
          example: token
        package_name:
          type: string
          description: トークンパッケージ名
          example: "スタンダードパック"
        requester_name:
          type: string
          description: 申請者名
          example: "花子"
        requester_id:
          type: integer
          description: 申請者のユーザーID
          example: 11
        requested_at:
          type: string
          format: date-time
          description: 申請日時（リクエスト作成日時）
          example: "2025-12-09T11:00:00Z"
        token_amount:
          type: integer
          description: トークン数量
          example: 10000
        price:
          type: integer
          description: 金額（円）
          example: 500
        model:
          type: object
          description: 元のトークン購入リクエストオブジェクト（フル情報）
          properties:
            id:
              type: integer
              example: 456
            user_id:
              type: integer
            package_id:
              type: integer
            status:
              type: string
              enum: [pending, approved, rejected, completed]
              example: pending
            created_at:
              type: string
              format: date-time
            approved_at:
              type: string
              format: date-time
              nullable: true
            approved_by_user_id:
              type: integer
              nullable: true

    # ============================================================
    # Report関連スキーマ
    # ============================================================

    PerformanceData:
      type: object
      properties:
        period:
          type: string
          enum: [week, month, year]
          example: "month"
        tasks_completed:
          type: integer
          example: 50
        tasks_total:
          type: integer
          example: 75
        completion_rate:
          type: number
          format: float
          example: 66.67
        trend_data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              completed:
                type: integer

    MonthlyReport:
      type: object
      properties:
        id:
          type: integer
          example: 300
        user_id:
          type: integer
          example: 1
        year:
          type: integer
          example: 2025
        month:
          type: integer
          example: 12
        tasks_completed:
          type: integer
          example: 50
        tasks_total:
          type: integer
          example: 75
        completion_rate:
          type: number
          format: float
          example: 66.67
        created_at:
          type: string
          format: date-time

    AvailableMonth:
      type: object
      description: 生成済み月次レポートの年月情報
      properties:
        year:
          type: string
          description: 年（YYYY形式）
          example: "2025"
        month:
          type: string
          description: 月（MM形式、ゼロパディング）
          example: "11"
        label:
          type: string
          description: 表示用ラベル
          example: "2025年11月"
        updated_at:
          type: string
          format: date-time

    MemberStats:
      type: object
      description: メンバー別統計情報（月次レポート用）
      properties:
        user_id:
          type: integer
          description: ユーザーID
          example: 1
        user_name:
          type: string
          description: ユーザー名
          example: "田中太郎"
        completed:
          type: integer
          description: 合計完了タスク数（通常タスク + グループタスク）
          example: 25
        incomplete:
          type: integer
          description: 未完了タスク数
          example: 5
        reward:
          type: integer
          description: グループタスク報酬合計
          example: 15000
        normal_tasks_completed:
          type: integer
          description: 通常タスク完了数
          example: 18
        group_tasks_completed:
          type: integer
          description: グループタスク完了数
          example: 7

    # ============================================================
    # ScheduledTask関連スキーマ
    # ============================================================

    ScheduledTask:
      type: object
      properties:
        id:
          type: integer
          example: 400
        group_id:
          type: integer
          example: 5
        title:
          type: string
          example: "定期タスク: 掃除"
        description:
          type: string
          nullable: true
        schedule_type:
          type: string
          enum: [daily, weekly, monthly, custom]
          example: "weekly"
        schedule_config:
          type: object
          additionalProperties: true
          example:
            day_of_week: [1, 3, 5]
            time: "09:00"
        is_active:
          type: boolean
          example: true
        last_executed_at:
          type: string
          format: date-time
          nullable: true
        next_execution_at:
          type: string
          format: date-time
          example: "2025-12-08T09:00:00Z"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  # ============================================================
  # 共通レスポンステンプレート
  # ============================================================

  responses:
    UnauthorizedError:
      description: 認証エラー - JWT/Sanctumトークンが無効または期限切れ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "認証が必要です"

    ForbiddenError:
      description: 権限エラー - リソースへのアクセス権限がない
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "権限がありません"

    NotFoundError:
      description: リソースが見つからない
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "リソースが見つかりません"

    ValidationError:
      description: バリデーションエラー - 入力内容に誤りがある
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "入力内容に誤りがあります"
            errors:
              title: ["タイトルは必須です"]
              due_date: ["日付形式が正しくありません"]

    ServerError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "サーバーエラーが発生しました"

# ============================================================
# パス定義（認証 + 60エンドポイント）
# ============================================================

paths:
  # ============================================================
  # Authentication API（モバイルアプリ用 - Sanctum）
  # ============================================================

  /auth/login:
    post:
      summary: ログイン（モバイル用）
      description: |
        usernameとpasswordでログインし、Sanctumトークンを取得します。
        
        **注意**: Web版はCognito JWT認証、モバイル版はSanctum認証を使用します。
      tags: [Authentication]
      security: []  # 認証不要
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  description: ユーザー名（メールアドレスではない）
                  example: "taro_tanaka"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "password123"
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Laravel Sanctumトークン（有効期限30日）
                    example: "1|abcdefghijklmnopqrstuvwxyz123456"
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: "田中太郎"
                      email:
                        type: string
                        format: email
                        example: "taro@example.com"
                      username:
                        type: string
                        example: "taro_tanaka"
                      avatar_url:
                        type: string
                        nullable: true
                        example: "https://s3.amazonaws.com/avatars/123.png"
                      created_at:
                        type: string
                        format: date-time
        '401':
          description: 認証失敗 - usernameまたはpasswordが間違っている
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "認証に失敗しました"
                  errors:
                    type: object
                    properties:
                      username:
                        type: array
                        items:
                          type: string
                        example: ["ユーザー名またはパスワードが間違っています"]
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/logout:
    post:
      summary: ログアウト（モバイル用）
      description: 現在のSanctumトークンを無効化します。
      tags: [Authentication]
      security:
        - SanctumAuth: []
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "ログアウトしました"
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/forgot-password:
    post:
      summary: パスワードリセットリクエスト
      description: |
        メールアドレスを送信し、パスワードリセット用のリンクをメールで送信します。
        
        **注意**: 
        - Web版と同じエンドポイントを使用
        - メールはAWS SES経由で送信（テスト環境のみ稼働、本番はSandbox削除申請後）
        - リセットリンクはWeb版のreset-passwordページを開く
      tags: [Authentication]
      security: []  # 認証不要
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: 登録済みメールアドレス
                  example: "taro@example.com"
      responses:
        '200':
          description: リセットリンク送信成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "パスワードリセット用のリンクをメールで送信しました"
        '422':
          description: バリデーションエラー - メールアドレスが無効、または登録されていない
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "入力内容に誤りがあります"
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        items:
                          type: string
                        example: ["このメールアドレスは登録されていません"]
        '429':
          description: レート制限超過 - 短時間に複数回リクエストした場合
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "リクエストが多すぎます。しばらく時間をおいてから再度お試しください"

  # ============================================================
  # User API（1エンドポイント - 全画面共通で使用）
  # ============================================================

  /user/current:
    get:
      summary: 現在のユーザー情報取得
      description: |
        認証済みユーザーの基本情報を取得します。
        モバイルアプリ起動時に呼び出され、全画面でテーマ情報（adult/child）を使用します。
        Web版のShareThemeMiddlewareに相当する役割です。
        
        **プロフィール編集API（/profile/edit）との違い**:
        - /user/current: 全画面で使用（最小限の情報: id, username, name, theme, group_id, group_edit_flg, group）
        - /profile/edit: プロフィール編集画面専用（詳細情報: email, bio, avatar, timezone等を含む）
        
        **グループ情報の追加（2025-12-13）**:
        - ドロワーメニューの権限判定に使用（サブスクリプション管理、承認待ち）
        - group.master_user_idでマスター権限を判定可能
      tags: [User]
      security:
        - SanctumAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      username:
                        type: string
                        example: "testuser"
                      name:
                        type: string
                        example: "テストユーザー"
                      theme:
                        type: string
                        enum: [adult, child]
                        example: "adult"
                        description: "ユーザーのテーマ設定（全画面で使用）"
                      group_id:
                        type: integer
                        nullable: true
                        example: null
                        description: "所属グループID"
                      group_edit_flg:
                        type: boolean
                        example: false
                        description: "グループ編集権限"
                      group:
                        type: object
                        nullable: true
                        description: "所属グループ情報（グループに所属している場合のみ）"
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: "ファミリーグループ"
                          master_user_id:
                            type: integer
                            example: 1
                            description: "グループマスターのユーザーID"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "ユーザー認証に失敗しました。"
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "ユーザー情報の取得に失敗しました。"

  # ============================================================
  # Tasks API（14エンドポイント）
  # ============================================================

  /tasks:
    get:
      summary: タスク一覧取得
      description: |
        ユーザーの全タスクを取得します。
        
        **フィルタリングオプション**:
        - `filter=group_templates`: グループタスクテンプレート用にフィルタリング（ユーザーが作成したグループタスクのみ）
      tags: [Tasks]
      parameters:
        - name: filter
          in: query
          required: false
          schema:
            type: string
            enum: [group_templates]
          description: |
            タスクのフィルタリングモード
            - `group_templates`: ユーザーが作成したグループタスクのみを取得（assigned_by_user_id = user_id AND group_task_id IS NOT NULL）
          example: group_templates
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task'
              examples:
                normal:
                  summary: 通常のタスク一覧
                  value:
                    success: true
                    message: "タスク一覧を取得しました"
                    data:
                      - id: 1
                        title: "宿題をする"
                        description: "数学の問題集"
                        due_date: "2025-12-10"
                        priority: 3
                        status: "incomplete"
                        group_task_id: null
                        assigned_by_user_id: 1
                      - id: 2
                        title: "買い物に行く"
                        description: "野菜を買う"
                        due_date: "2025-12-08"
                        priority: 2
                        status: "incomplete"
                        group_task_id: null
                        assigned_by_user_id: 1
                group_templates:
                  summary: グループタスクテンプレート（filter=group_templates）
                  value:
                    success: true
                    message: "タスク一覧を取得しました"
                    data:
                      - id: 10
                        title: "部屋の掃除"
                        description: "リビングと寝室"
                        due_date: "2025-12-15"
                        priority: 3
                        status: "incomplete"
                        group_task_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        assigned_by_user_id: 1
                        requires_approval: true
                        requires_image: false
                      - id: 11
                        title: "週報提出"
                        description: "今週の活動まとめ"
                        due_date: "2025-12-20"
                        priority: 4
                        status: "completed"
                        group_task_id: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                        assigned_by_user_id: 1
                        requires_approval: true
                        requires_image: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: タスク作成
      description: 新しいタスクを作成します。
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  example: "宿題をする"
                description:
                  type: string
                  example: "数学の問題集p.20-25"
                due_date:
                  type: string
                  format: date
                  example: "2025-12-10"
                priority:
                  type: integer
                  minimum: 1
                  maximum: 5
                  example: 3
                tags:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Task'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tasks/paginated:
    get:
      summary: タスク一覧取得（ページネーション付き）
      description: 無限スクロール用のページネーション付きタスク一覧を取得します。
      tags: [Tasks]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /tasks/{task}:
    put:
      summary: タスク更新
      description: 既存のタスクを更新します。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                due_date:
                  type: string
                  format: date
                priority:
                  type: integer
                tags:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      summary: タスク削除
      description: タスクを削除します。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 削除成功
        '404':
          $ref: '#/components/responses/NotFoundError'

  /tasks/{task}/toggle:
    patch:
      summary: タスク完了状態切り替え
      description: タスクの完了/未完了を切り替えます。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功
        '404':
          $ref: '#/components/responses/NotFoundError'

  /tasks/{task}/approve:
    post:
      summary: タスク承認
      description: グループタスクを承認します。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 承認成功
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /tasks/{task}/reject:
    post:
      summary: タスク却下
      description: グループタスクを却下します。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: "もう一度確認してください"
      responses:
        '200':
          description: 却下成功

  /tasks/{task}/request-approval:
    post:
      summary: タスク完了申請
      description: タスクの完了を申請します（承認が必要な場合）。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 申請成功

  /tasks/{task}/images:
    post:
      summary: タスク画像アップロード
      description: タスクに画像を添付します。
      tags: [Tasks]
      parameters:
        - name: task
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '201':
          description: アップロード成功

  /task-images/{image}:
    delete:
      summary: タスク画像削除
      description: タスクに添付された画像を削除します。
      tags: [Tasks]
      parameters:
        - name: image
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 削除成功

  /tasks/bulk-complete:
    patch:
      summary: タスク一括完了
      description: 複数のタスクを一括で完了/未完了にします。
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_ids, completed]
              properties:
                task_ids:
                  type: array
                  items:
                    type: integer
                  example: [1, 2, 3]
                completed:
                  type: boolean
                  example: true
      responses:
        '200':
          description: 成功

  /tasks/search:
    post:
      summary: タスク検索
      description: キーワードでタスクを検索します。
      tags: [Tasks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyword:
                  type: string
                  example: "宿題"
                tags:
                  type: array
                  items:
                    type: integer
                completed:
                  type: boolean
      responses:
        '200':
          description: 成功

  /tasks/approvals/pending:
    get:
      summary: 承認待ち一覧取得（統合API）
      description: |
        タスク承認とトークン購入申請の承認待ち一覧を統合して取得します。
        親ユーザー（グループ管理者）専用APIです。
        
        **レスポンス形式**:
        - タスク承認: type='task'
        - トークン購入申請: type='token'
        
        **ページネーション**:
        - デフォルト: 15件/ページ
        - 最大: 50件/ページ
      tags: [Tasks]
      security:
        - SanctumAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: ページ番号
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
            maximum: 50
          description: 1ページあたりの件数
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      approvals:
                        type: array
                        description: タスク承認とトークン購入申請の統合配列
                        items:
                          oneOf:
                            - $ref: '#/components/schemas/TaskApprovalItem'
                            - $ref: '#/components/schemas/TokenApprovalItem'
                      total:
                        type: integer
                        description: 全件数
                        example: 25
                      page:
                        type: integer
                        description: 現在のページ番号
                        example: 1
                      per_page:
                        type: integer
                        description: 1ページあたりの件数
                        example: 15
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 権限エラー（親ユーザーのみアクセス可能）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: 親ユーザーのみアクセスできます。

  /tasks/propose:
    post:
      summary: AIタスク分解提案
      description: |
        AIを使用してタスクを分解・提案します。
        OpenAI APIを使用し、大規模タスクを複数の小タスクに分解します。
        推定トークン消費量: 1000トークン
      tags: [Tasks]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - span
              properties:
                title:
                  type: string
                  description: 分解対象タスクのタイトル
                  example: "夏休みの宿題を終わらせる"
                  maxLength: 255
                span:
                  type: integer
                  description: タスク期間（1:短期、2:中期、3:長期）
                  enum: [1, 2, 3]
                  example: 2
                due_date:
                  type: string
                  description: 期限（任意）
                  example: "2025-12"
                context:
                  type: string
                  description: 追加コンテキスト（任意）
                  example: "算数、国語、理科の3科目があります"
                is_refinement:
                  type: boolean
                  description: 再提案フラグ（true: 細分化モード）
                  default: false
      responses:
        '200':
          description: 提案成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  proposal_id:
                    type: integer
                    description: 提案ID（adopt時に使用）
                    example: 123
                  original_task:
                    type: string
                    description: 元のタスクタイトル
                  proposed_tasks:
                    type: array
                    description: 提案されたタスク配列
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: "算数の宿題を終わらせる"
                        description:
                          type: string
                          example: "ドリル20ページを解く"
                        span:
                          type: integer
                          example: 1
                        priority:
                          type: integer
                          example: 3
                  model_used:
                    type: string
                    description: 使用したAIモデル
                    example: "gpt-4o-mini"
                  tokens_used:
                    type: object
                    description: トークン使用量
                    properties:
                      prompt:
                        type: integer
                        example: 150
                      completion:
                        type: integer
                        example: 850
                      total:
                        type: integer
                        example: 1000
        '402':
          description: トークン残高不足
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "トークン残高不足"
                  message:
                    type: string
                    example: "トークン残高が不足しています。トークンを購入してください。"
                  action_url:
                    type: string
                    example: "/tokens/purchase"
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          description: AI提案生成エラー

  /tasks/adopt:
    post:
      summary: AI提案採用（タスク一括作成）
      description: |
        AIが提案したタスクを採用し、複数のタスクを一括作成します。
        提案IDと採用するタスク配列を指定します。
      tags: [Tasks]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - proposal_id
                - tasks
              properties:
                proposal_id:
                  type: integer
                  description: 提案ID（propose APIの返り値）
                  example: 123
                tasks:
                  type: array
                  description: 採用するタスク配列
                  minItems: 1
                  items:
                    type: object
                    required:
                      - title
                      - span
                    properties:
                      title:
                        type: string
                        maxLength: 255
                        example: "算数の宿題を終わらせる"
                      span:
                        type: integer
                        enum: [1, 2, 3]
                        example: 1
                      priority:
                        type: integer
                        minimum: 1
                        maximum: 3
                        example: 3
                      due_date:
                        type: string
                        example: "2025-12-20"
                      tags:
                        type: array
                        description: タグ名の配列
                        items:
                          type: string
                          maxLength: 255
                        example: ["宿題", "算数"]
      responses:
        '200':
          description: 採用成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "3件のタスクを作成しました"
                  tasks:
                    type: array
                    description: 作成されたタスク配列
                    items:
                      $ref: '#/components/schemas/Task'
                  html:
                    type: string
                    description: Web版用のHTMLレンダリング結果（モバイル版では未使用）
                  avatar_comment:
                    type: object
                    description: アバターコメント
                    properties:
                      comment:
                        type: string
                      image_url:
                        type: string
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          description: タスク作成エラー
          description: 認証エラー
        '402':
          description: トークン不足

  /tasks/images/{image}:
    delete:
      summary: タスク画像削除
      description: タスクに添付された画像を削除します。
      tags: [Tasks]
      security:
        - SanctumAuth: []
      parameters:
        - name: image
          in: path
          required: true
          schema:
            type: integer
          description: 画像ID
      responses:
        '200':
          description: 削除成功
        '401':
          description: 認証エラー
        '403':
          description: 権限不足
        '404':
          description: 画像が見つかりません

  /approvals/pending:
    get:
      summary: 承認待ちタスク一覧（非推奨）
      description: 承認待ち状態のタスク一覧を取得します。/tasks/approvals/pendingを使用してください。
      tags: [Tasks]
      deprecated: true
      responses:
        '200':
          description: 成功

  # ============================================================
  # Groups API（7エンドポイント）
  # ============================================================

  /groups/edit:
    get:
      summary: グループ情報取得
      description: ユーザーのグループ情報、メンバー一覧、タスク作成状況を取得します。
      tags: [Groups]
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          group:
                            $ref: '#/components/schemas/Group'
                          task_usage:
                            $ref: '#/components/schemas/GroupTaskUsage'
                          members:
                            type: array
                            items:
                              $ref: '#/components/schemas/GroupMember'

  /groups:
    patch:
      summary: グループ情報更新
      description: グループ名を更新します。
      tags: [Groups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "田中家"
      responses:
        '200':
          description: 更新成功

  /groups/members:
    post:
      summary: メンバー追加
      description: ユーザー名でグループにメンバーを追加します。
      tags: [Groups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  example: "tanaka"
                  description: 追加するユーザーのユーザー名
                group_edit_flg:
                  type: boolean
                  example: false
                  description: グループ編集権限を付与するか
      responses:
        '201':
          description: 追加成功

  /groups/members/{member}/permission:
    patch:
      summary: メンバー権限更新
      description: メンバーのグループ編集権限を更新します。
      tags: [Groups]
      parameters:
        - name: member
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [group_edit_flg]
              properties:
                group_edit_flg:
                  type: boolean
                  example: true
                  description: グループ編集権限フラグ
      responses:
        '200':
          description: 更新成功

  /groups/members/{member}/theme:
    patch:
      summary: メンバーテーマ切り替え
      description: メンバーのテーマ（adult/child）を変更します。
      tags: [Groups]
      parameters:
        - name: member
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [theme]
              properties:
                theme:
                  type: string
                  enum: [adult, child]
                  example: "child"
                  description: テーマ（adult=大人用、child=子ども用）
      responses:
        '200':
          description: 変更成功

  /groups/transfer/{newMaster}:
    post:
      summary: グループマスター譲渡
      description: グループのマスター権限を他のメンバーに譲渡します。
      tags: [Groups]
      parameters:
        - name: newMaster
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 譲渡成功

  /groups/members/{member}:
    delete:
      summary: メンバー削除
      description: グループからメンバーを削除します。
      tags: [Groups]
      parameters:
        - name: member
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 削除成功

  # ============================================================
  # Group Tasks API（4エンドポイント）
  # グループタスク管理API - グループ全体に割り当てられたタスクの編集
  # ============================================================

  /group-tasks:
    get:
      summary: グループタスク一覧取得
      description: |
        ログインユーザーが作成した編集可能なグループタスクの一覧を取得します。
        group_task_id単位でグループ化され、各グループの代表タスク情報を返します。
        
        **権限要件**: group_edit_flg=true または group.master_user_id=user.id
      tags: [Groups]
      security:
        - SanctumAuth: []
      responses:
        '200':
          description: グループタスク一覧取得成功
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group_task_id:
                      type: string
                      format: uuid
                      description: グループタスクID
                      example: "550e8400-e29b-41d4-a716-446655440000"
                    title:
                      type: string
                      description: タスクタイトル
                      example: "部屋の掃除"
                    description:
                      type: string
                      nullable: true
                      description: タスク説明
                      example: "毎週土曜日に各自の部屋を掃除する"
                    span:
                      type: integer
                      description: タスクの期間（1:短期、3:中期、6:長期）
                      enum: [1, 3, 6]
                      example: 1
                    reward:
                      type: integer
                      description: 報酬ポイント
                      example: 100
                    due_date:
                      type: string
                      format: date
                      nullable: true
                      description: 期限
                      example: "2025-12-31"
                    requires_approval:
                      type: boolean
                      description: 承認必須フラグ
                      example: true
                    requires_image:
                      type: boolean
                      description: 画像必須フラグ
                      example: false
                    assigned_count:
                      type: integer
                      description: 割り当て人数
                      example: 3
                    created_at:
                      type: string
                      format: date-time
                      description: 作成日時
                    updated_at:
                      type: string
                      format: date-time
                      description: 更新日時
        '403':
          description: 権限エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "この操作を実行する権限がありません。"
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "グループタスクの取得に失敗しました。"

  /group-tasks/{group_task_id}/edit:
    get:
      summary: グループタスク編集データ取得
      description: |
        特定のグループタスクの編集用データを取得します。
        
        **権限要件**: group_edit_flg=true または group.master_user_id=user.id
      tags: [Groups]
      security:
        - SanctumAuth: []
      parameters:
        - name: group_task_id
          in: path
          required: true
          description: グループタスクID（UUID）
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: グループタスク取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  group_task_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  title:
                    type: string
                    example: "部屋の掃除"
                  description:
                    type: string
                    nullable: true
                    example: "毎週土曜日に各自の部屋を掃除する"
                  span:
                    type: integer
                    description: タスクの期間（1:短期、3:中期、6:長期）
                    enum: [1, 3, 6]
                    example: 1
                  reward:
                    type: integer
                    example: 100
                  due_date:
                    type: string
                    format: date
                    nullable: true
                    example: "2025-12-31"
                  requires_approval:
                    type: boolean
                    example: true
                  requires_image:
                    type: boolean
                    example: false
                  assigned_count:
                    type: integer
                    example: 3
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '403':
          description: 権限エラー
        '404':
          description: グループタスクが見つからない
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "指定されたグループタスクが見つかりません。"

  /group-tasks/{group_task_id}:
    put:
      summary: グループタスク更新
      description: |
        グループタスクの情報を更新します。
        同一group_task_idを持つ全タスクが一括更新されます。
        
        **権限要件**: group_edit_flg=true または group.master_user_id=user.id
      tags: [Groups]
      security:
        - SanctumAuth: []
      parameters:
        - name: group_task_id
          in: path
          required: true
          description: グループタスクID（UUID）
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - reward
                - requires_approval
                - requires_image
              properties:
                title:
                  type: string
                  maxLength: 255
                  description: タスクタイトル
                  example: "部屋の掃除"
                description:
                  type: string
                  maxLength: 1000
                  nullable: true
                  description: タスク説明
                  example: "毎週土曜日に各自の部屋を掃除する"
                reward:
                  type: integer
                  minimum: 0
                  description: 報酬ポイント
                  example: 100
                requires_approval:
                  type: boolean
                  description: 承認必須フラグ
                  example: true
                requires_image:
                  type: boolean
                  description: 画像必須フラグ
                  example: false
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "グループタスクを更新しました。"
                  data:
                    type: object
                    properties:
                      group_task_id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      description:
                        type: string
                        nullable: true
                      reward:
                        type: integer
                      due_date:
                        type: string
                        format: date
                        nullable: true
                      requires_approval:
                        type: boolean
                      requires_image:
                        type: boolean
                      assigned_count:
                        type: integer
                      updated_at:
                        type: string
                        format: date-time
        '403':
          description: 権限エラー
        '404':
          description: グループタスクが見つからない
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "バリデーションエラーが発生しました。"
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string

    delete:
      summary: グループタスク削除
      description: |
        グループタスクを論理削除します。
        同一group_task_idを持つ全タスクが削除されます。
        
        **権限要件**: group_edit_flg=true または group.master_user_id=user.id
      tags: [Groups]
      security:
        - SanctumAuth: []
      parameters:
        - name: group_task_id
          in: path
          required: true
          description: グループタスクID（UUID）
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 削除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "グループタスクを削除しました。"
        '403':
          description: 権限エラー
        '404':
          description: グループタスクが見つからない

  # ============================================================
  # Profile API（5エンドポイント）
  # ============================================================

  /profile/edit:
    get:
      summary: プロフィール情報取得
      description: ユーザーのプロフィール情報を取得します。
      tags: [Profile]
      responses:
        '200':
          description: 成功

  /profile:
    patch:
      summary: プロフィール更新
      description: ユーザーのプロフィール情報を更新します。
      tags: [Profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "田中太郎"
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: 更新成功

    delete:
      summary: アカウント削除
      description: ユーザーアカウントを削除します。
      tags: [Profile]
      responses:
        '200':
          description: 削除成功

  /profile/timezone:
    get:
      summary: タイムゾーン取得
      description: ユーザーのタイムゾーン設定を取得します。
      tags: [Profile]
      responses:
        '200':
          description: 成功

    put:
      summary: タイムゾーン更新
      description: ユーザーのタイムゾーンを更新します。
      tags: [Profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [timezone]
              properties:
                timezone:
                  type: string
                  example: "Asia/Tokyo"
      responses:
        '200':
          description: 更新成功

  /profile/password:
    put:
      summary: パスワード更新
      description: |
        ユーザーのパスワードを更新します。
        現在のパスワードで認証後、新しいパスワードに変更します。
        
        **バリデーション**:
        - 現在のパスワード: 必須、正しいパスワード確認
        - 新しいパスワード: 8文字以上、確認フィールド一致
      tags: [Profile]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password:
                  type: string
                  format: password
                  description: 現在のパスワード
                  example: "oldpassword123"
                password:
                  type: string
                  format: password
                  minLength: 8
                  description: 新しいパスワード（8文字以上）
                  example: "newpassword456"
                password_confirmation:
                  type: string
                  format: password
                  description: 新しいパスワード（確認用）
                  example: "newpassword456"
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "パスワードを更新しました"
        '401':
          description: 現在のパスワードが間違っている
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "入力内容に誤りがあります"
                errors:
                  current_password: ["現在のパスワードが正しくありません"]
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "入力内容に誤りがあります"
                errors:
                  password: ["新しいパスワードは8文字以上で入力してください"]
                  password_confirmation: ["パスワードが確認用と一致しません"]
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "パスワードの更新に失敗しました"

  /profile/fcm-token:
    post:
      summary: FCMトークン登録
      description: |
        Firebase Cloud Messaging (FCM) デバイストークンを登録または更新します。
        アプリ起動時に自動的に呼び出され、Push通知受信のためにトークンをバックエンドに登録します。
        
        **処理フロー**:
        1. 既存トークンがある場合: `last_used_at`を更新、`is_active=TRUE`に設定
        2. 新規トークンの場合: 新規レコードを作成
        
        **マルチデバイス対応**: 同一ユーザーが複数デバイスでログインした場合、全デバイスにPush通知が送信されます。
      tags: [Profile]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_token, device_type]
              properties:
                device_token:
                  type: string
                  description: FCMデバイストークン
                  example: "eXwZ1234abcd5678efgh9012ijkl3456mnop7890qrst1234uvwx5678yzAB"
                device_type:
                  type: string
                  enum: [ios, android]
                  description: デバイス種別
                  example: "ios"
                device_name:
                  type: string
                  maxLength: 100
                  description: デバイス名（オプション）
                  example: "iPhone 15 Pro"
                app_version:
                  type: string
                  maxLength: 20
                  description: アプリバージョン（オプション）
                  example: "1.0.0"
      responses:
        '200':
          description: 登録成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "FCMトークンを登録しました。"
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "入力内容に誤りがあります"
                errors:
                  device_type: ["デバイス種別はiosまたはandroidのいずれかを指定してください。"]
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: FCMトークン削除
      description: |
        Firebase Cloud Messaging (FCM) デバイストークンを削除（非アクティブ化）します。
        ログアウト時に呼び出され、該当デバイスへのPush通知送信を停止します。
        
        **処理内容**: `is_active = FALSE` に更新（物理削除はしない）
      tags: [Profile]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_token]
              properties:
                device_token:
                  type: string
                  description: 削除するFCMデバイストークン
                  example: "eXwZ1234abcd5678efgh9012ijkl3456mnop7890qrst1234uvwx5678yzAB"
      responses:
        '200':
          description: 削除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "FCMトークンを削除しました。"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: トークンが見つからない
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "指定されたトークンは存在しません"
        '500':
          $ref: '#/components/responses/ServerError'

  /profile/notification-settings:
    get:
      summary: 通知設定取得
      description: |
        ユーザーの通知設定を取得します。
        設定が存在しない場合は、デフォルト設定（すべてON）を返します。
        
        **デフォルト設定**:
        ```json
        {
          "push_enabled": true,
          "push_task_enabled": true,
          "push_group_enabled": true,
          "push_token_enabled": true,
          "push_system_enabled": true,
          "push_sound_enabled": true,
          "push_vibration_enabled": true
        }
        ```
      tags: [Profile]
      security:
        - SanctumAuth: []
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      push_enabled:
                        type: boolean
                        description: Push通知全体のON/OFF
                        example: true
                      push_task_enabled:
                        type: boolean
                        description: タスク通知のON/OFF
                        example: true
                      push_group_enabled:
                        type: boolean
                        description: グループ通知のON/OFF
                        example: true
                      push_token_enabled:
                        type: boolean
                        description: トークン通知のON/OFF
                        example: true
                      push_system_enabled:
                        type: boolean
                        description: システム通知のON/OFF
                        example: true
                      push_sound_enabled:
                        type: boolean
                        description: 通知音のON/OFF
                        example: true
                      push_vibration_enabled:
                        type: boolean
                        description: バイブレーションのON/OFF（Android）
                        example: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: 通知設定更新
      description: |
        ユーザーの通知設定を更新します。
        
        **設定可能な項目**:
        - `push_enabled`: Push通知全体のON/OFF（これがOFFの場合、他の設定に関わらずPush通知は送信されない）
        - `push_task_enabled`: タスク関連通知（完了申請、承認、却下、割当等）
        - `push_group_enabled`: グループ関連通知（招待、参加承認等）
        - `push_token_enabled`: トークン関連通知（残高警告、購入完了）
        - `push_system_enabled`: システム通知（メンテナンス、アップデート）
        - `push_sound_enabled`: 通知音
        - `push_vibration_enabled`: バイブレーション（Android）
        
        **注意**: 部分更新可能。指定されたキーのみを更新し、他の設定はそのまま維持されます。
      tags: [Profile]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                push_enabled:
                  type: boolean
                  description: Push通知全体のON/OFF
                  example: true
                push_task_enabled:
                  type: boolean
                  description: タスク通知のON/OFF
                  example: true
                push_group_enabled:
                  type: boolean
                  description: グループ通知のON/OFF
                  example: false
                push_token_enabled:
                  type: boolean
                  description: トークン通知のON/OFF
                  example: true
                push_system_enabled:
                  type: boolean
                  description: システム通知のON/OFF
                  example: true
                push_sound_enabled:
                  type: boolean
                  description: 通知音のON/OFF
                  example: false
                push_vibration_enabled:
                  type: boolean
                  description: バイブレーションのON/OFF
                  example: true
            examples:
              全通知OFF:
                value:
                  push_enabled: false
              グループ通知のみOFF:
                value:
                  push_group_enabled: false
              音とバイブレーションOFF:
                value:
                  push_sound_enabled: false
                  push_vibration_enabled: false
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "通知設定を更新しました。"
                  data:
                    type: object
                    description: 更新後の通知設定（全項目）
                    properties:
                      push_enabled:
                        type: boolean
                        example: true
                      push_task_enabled:
                        type: boolean
                        example: true
                      push_group_enabled:
                        type: boolean
                        example: false
                      push_token_enabled:
                        type: boolean
                        example: true
                      push_system_enabled:
                        type: boolean
                        example: true
                      push_sound_enabled:
                        type: boolean
                        example: false
                      push_vibration_enabled:
                        type: boolean
                        example: true
        '400':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "入力内容に誤りがあります"
                errors:
                  settings: ["不正な設定キーが含まれています: invalid_key"]
                  push_enabled: ["設定値はtrue/falseのいずれかを指定してください。"]
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'

  # ============================================================
  # Tags API（4エンドポイント）
  # ============================================================

  /tags:
    get:
      summary: タグ一覧取得
      description: ユーザーの全タグを取得します。
      tags: [Tags]
      responses:
        '200':
          description: 成功

    post:
      summary: タグ作成
      description: 新しいタグを作成します。
      tags: [Tags]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name:
                  type: string
                  example: "宿題"
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  example: "#3B82F6"
      responses:
        '201':
          description: 作成成功

  /tags/{id}:
    put:
      summary: タグ更新
      description: タグの名前または色を更新します。
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
      responses:
        '200':
          description: 更新成功

    delete:
      summary: タグ削除
      description: タグを削除します。
      tags: [Tags]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 削除成功

  /tags/{tag}/tasks:
    get:
      summary: タグに紐づくタスク一覧取得
      description: 指定したタグに紐づくタスクの一覧を取得します。
      tags: [Tags]
      security:
        - SanctumAuth: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: integer
          description: タグID
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: object
                      description: タスクオブジェクト
        '401':
          description: 認証エラー
        '404':
          description: タグが見つかりません

  /tags/{tag}/tasks/attach:
    post:
      summary: タスクにタグを紐付け
      description: 指定したタスクにタグを紐付けます。
      tags: [Tags]
      security:
        - SanctumAuth: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: integer
          description: タグID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - task_id
              properties:
                task_id:
                  type: integer
                  description: タスクID
      responses:
        '200':
          description: 紐付け成功
        '400':
          description: バリデーションエラー
        '401':
          description: 認証エラー
        '404':
          description: タグまたはタスクが見つかりません

  /tags/{tag}/tasks/detach:
    delete:
      summary: タスクからタグを削除
      description: 指定したタスクからタグを削除します。
      tags: [Tags]
      security:
        - SanctumAuth: []
      parameters:
        - name: tag
          in: path
          required: true
          schema:
            type: integer
          description: タグID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - task_id
              properties:
                task_id:
                  type: integer
                  description: タスクID
      responses:
        '200':
          description: 削除成功
        '401':
          description: 認証エラー
        '404':
          description: タグまたはタスクが見つかりません

  # ============================================================
  # Avatars API（7エンドポイント）
  # ============================================================

  /avatar:
    get:
      summary: アバター情報取得
      description: ユーザーのアバター情報を取得します。
      tags: [Avatars]
      responses:
        '200':
          description: 成功

    post:
      summary: アバター作成
      description: 新しいアバターを作成します（AI生成）。
      tags: [Avatars]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: "さくら先生"
                is_transparent:
                  type: boolean
                  example: false
      responses:
        '201':
          description: 作成成功（非同期処理）

    put:
      summary: アバター更新
      description: アバターの設定を更新します。
      tags: [Avatars]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                is_transparent:
                  type: boolean
      responses:
        '200':
          description: 更新成功

    delete:
      summary: アバター削除
      description: アバターを削除します。
      tags: [Avatars]
      responses:
        '200':
          description: 削除成功

  /avatar/regenerate:
    post:
      summary: アバター画像再生成
      description: アバター画像を再生成します（AI）。
      tags: [Avatars]
      responses:
        '200':
          description: 再生成開始（非同期処理）

  /avatar/visibility:
    patch:
      summary: アバター表示切り替え
      description: アバターの表示/非表示を切り替えます。
      tags: [Avatars]
      responses:
        '200':
          description: 切り替え成功

  /avatar/comment/{event}:
    get:
      summary: アバターコメント取得
      description: イベントに応じたアバターコメントを取得します。
      tags: [Avatars]
      parameters:
        - name: event
          in: path
          required: true
          schema:
            type: string
            enum: [task_created, task_completed, task_failed, login, achievement]
          example: "task_completed"
      responses:
        '200':
          description: 成功

  # ============================================================
  # Notifications API（6エンドポイント）
  # ============================================================

  /notifications:
    get:
      summary: 通知一覧取得
      description: ユーザーの全通知を取得します。
      tags: [Notifications]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /notifications/{id}:
    get:
      summary: 通知詳細取得
      description: 特定の通知の詳細を取得します。
      tags: [Notifications]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /notifications/{id}/read:
    patch:
      summary: 通知既読化
      description: 通知を既読にします。
      tags: [Notifications]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 既読化成功

  /notifications/read-all:
    post:
      summary: 全通知既読化
      description: 全ての通知を既読にします。
      tags: [Notifications]
      responses:
        '200':
          description: 既読化成功

  /notifications/unread-count:
    get:
      summary: 未読件数取得
      description: 未読通知の件数を取得します。
      tags: [Notifications]
      responses:
        '200':
          description: 成功

  /notifications/search:
    get:
      summary: 通知検索
      description: キーワードで通知を検索します。
      tags: [Notifications]
      parameters:
        - name: keyword
          in: query
          schema:
            type: string
        - name: unread_only
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 成功

  # ============================================================
  # Tokens API（5エンドポイント）
  # ============================================================

  /tokens/balance:
    get:
      summary: トークン残高取得
      description: ユーザーのトークン残高を取得します。
      tags: [Tokens]
      responses:
        '200':
          description: 成功

  /tokens/history:
    get:
      summary: トークン履歴取得
      description: トークンの取引履歴を取得します。
      tags: [Tokens]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /tokens/packages:
    get:
      summary: トークンパッケージ一覧
      description: 購入可能なトークンパッケージを取得します。
      tags: [Tokens]
      responses:
        '200':
          description: 成功

  /tokens/create-checkout-session:
    post:
      summary: Stripe決済セッション作成
      description: トークン購入用のStripe決済セッションを作成します。
      tags: [Tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [package_id]
              properties:
                package_id:
                  type: string
                  example: "prod_ABC123"
      responses:
        '200':
          description: セッション作成成功

  /tokens/toggle-mode:
    patch:
      summary: トークンモード切り替え
      description: 個人/グループトークンモードを切り替えます。
      tags: [Tokens]
      responses:
        '200':
          description: 切り替え成功

  /tokens/purchase-requests:
    post:
      summary: トークン購入リクエスト作成（子ども）
      description: 子どもが親にトークン購入を依頼します（Phase 2.B-6: 子ども承認フロー）。
      tags: [Tokens]
      security:
        - SanctumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - package_id
              properties:
                package_id:
                  type: integer
                  description: トークンパッケージID
                  example: 1
                reason:
                  type: string
                  description: 購入理由（任意）
                  example: "AI機能を使いたいため"
      responses:
        '201':
          description: リクエスト作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: リクエストID
                  status:
                    type: string
                    enum: [pending, approved, rejected]
                    example: pending
        '400':
          description: バリデーションエラー
        '401':
          description: 認証エラー
        '403':
          description: 子どもテーマユーザーのみ使用可能

    get:
      summary: トークン購入リクエスト一覧取得
      description: 購入リクエストの一覧を取得します（親: すべて、子ども: 自分のみ）。
      tags: [Tokens]
      security:
        - SanctumAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, all]
            default: pending
          description: リクエストステータス
      responses:
        '200':
          description: 取得成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        package_id:
                          type: integer
                        package_name:
                          type: string
                        amount:
                          type: integer
                        reason:
                          type: string
                          nullable: true
                        status:
                          type: string
                          enum: [pending, approved, rejected]
                        requested_by:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        created_at:
                          type: string
                          format: date-time
        '401':
          description: 認証エラー

  /tokens/purchase-requests/{id}/approve:
    put:
      summary: トークン購入リクエスト承認（親）
      description: 子どもからの購入リクエストを承認し、Stripe Checkoutに進みます。
      tags: [Tokens]
      security:
        - SanctumAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: リクエストID
      responses:
        '200':
          description: 承認成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    format: uri
                    description: Stripe Checkout URL
        '401':
          description: 認証エラー
        '403':
          description: 権限不足（親ユーザーのみ）
        '404':
          description: リクエストが見つかりません
        '409':
          description: リクエストが既に処理済み

  /tokens/purchase-requests/{id}/reject:
    put:
      summary: トークン購入リクエスト却下（親）
      description: 子どもからの購入リクエストを却下します。
      tags: [Tokens]
      security:
        - SanctumAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: リクエストID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 却下理由（任意）
                  example: "今月の予算を超過しているため"
      responses:
        '200':
          description: 却下成功
        '401':
          description: 認証エラー
        '403':
          description: 権限不足（親ユーザーのみ）
        '404':
          description: リクエストが見つかりません
        '409':
          description: リクエストが既に処理済み

  # ============================================================
  # Reports API（5エンドポイント）
  # ============================================================

  /reports/performance:
    get:
      summary: パフォーマンス実績取得
      description: タスク完了実績を取得します。
      tags: [Reports]
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, year]
            default: week
      responses:
        '200':
          description: 成功

  /reports/monthly/available-months:
    get:
      summary: 生成済み月次レポート一覧取得
      description: |
        実際に生成済みの月次レポートの年月一覧を取得します。
        
        **目的**: モバイルアプリでクライアント側で12ヶ月分生成していた問題を解決し、
        実際に存在するレポートのみを表示するために使用します。
        
        **動作**:
        - MonthlyReportServiceのgetAvailableMonths()を呼び出し
        - 実際にDBに存在する月次レポートの年月のみを返却
        - 降順（最新月が先頭）でソート済み
        - デフォルトで最大12ヶ月分を返却
        
        **使用例**:
        - 月次レポート選択画面の初期表示
        - ドロップダウンメニューの選択肢生成
        - 最新の利用可能月を初期選択（配列の最初の要素）
      tags: [Reports]
      security:
        - SanctumAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailableMonth'
              examples:
                success:
                  summary: 成功例
                  value:
                    success: true
                    data:
                      - year: "2025"
                        month: "11"
                        label: "2025年11月"
                      - year: "2025"
                        month: "10"
                        label: "2025年10月"
                      - year: "2025"
                        month: "09"
                        label: "2025年9月"
                empty:
                  summary: レポートが存在しない場合
                  value:
                    success: true
                    data: []
        '401':
          description: 未認証
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "認証が必要です"

  /reports/monthly/{year}/{month}:
    get:
      summary: 月次レポート取得
      description: 指定月の月次レポートを取得します。
      tags: [Reports]
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
          example: 2025
        - name: month
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 12
          example: 12
      responses:
        '200':
          description: 成功

  /reports/monthly/member-summary:
    post:
      summary: メンバー別概況生成
      description: グループメンバーの月次概況を生成します。
      tags: [Reports]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [year, month]
              properties:
                year:
                  type: integer
                month:
                  type: integer
      responses:
        '200':
          description: 生成成功

  /reports/monthly/member-summary/pdf:
    post:
      summary: メンバー別概況PDF
      description: メンバー別概況をPDFでダウンロードします。
      tags: [Reports]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [year, month]
              properties:
                year:
                  type: integer
                month:
                  type: integer
      responses:
        '200':
          description: PDF生成成功
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  # ============================================================
  # ScheduledTasks API（8エンドポイント）
  # ============================================================

  /scheduled-tasks:
    get:
      summary: スケジュールタスク一覧
      description: 定期実行タスクの一覧を取得します。
      tags: [ScheduledTasks]
      responses:
        '200':
          description: 成功

    post:
[...]
